* {
  font-family: monospace;
}

body {
  background-image: url('/yabujin.jpg');
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  margin: 0;
}

.head {
  padding: 1ch;
  background-color: #202EC2;
  box-shadow: 10px 10px #333;
  text-align: center;
  margin: 1ch;
}

.shit {
  margin-bottom: 1ch !important;
  display: flex;
  justify-items: center;
  text-align: center;
  padding: 1ch;
  gap: 1ch;
}

button {
  width: 200px;
  height: 40px;
}

input {
  width: 100%;
}